
		body {
/*   adaptive font   */
      font-size: calc(16px + 3* ((100vw - 320px) / (1140 - 320)));
/* ------------------- */
		color: black;
      line-height: 1.6;
      font-family: 'Lato', sans-serif;
      font-weight: 500;
      padding: 100px 10px 10px 10px;
		}

		html {
			background-color: rgb(206, 201, 201);
         justify-content: center;
		}


  /*   text web website */



   b {
      font-size: 14px;
      padding: 8px;
   }
   b:hover {
         display: block;
         font-weight: 500;
         color:black;
         box-shadow: 2px 2px 2px 0px;
         border-radius: 4px;
    }

    /*                 -                 */
               /*CONTAINER                 
    /*                 -                 */

      .container {
         max-width: 1230px;
         width: 100%;
         display: block;
         margin: 0px auto;
         padding: 0px 10px;
      }



/*                         -                                    */
                     /*HEADER/                           
/*                        -                   */




/*      МЕНЮ БУРГЕРА       */



.header {
   font-family: 'Lato', sans-serif;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}
.header:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(206, 201, 201);
	z-index: 2;
}

.header__body {
	position: relative;
	display: flex;
	justify-content: space-between;
	height: 80px;
	align-items: center;
}
.header__logo {
	flex: 0 0 130px;
	overflow: hidden;
	position: relative;
	z-index: 3;
}
.img-logo {
   border-radius: 50%;
}
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header__logo img{
	max-width: 100%;
	display: block;
}

.header__burger {
	display: none;
}



.header__list {
	display: flex;
	position: relative;
	z-index: 2;
}
.header__list li{
	list-style: none;
	margin: 0px 0px 0px 20px;
}
.header__link {
	color: black; 
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
   padding: 5px;
}

@media (max-width:767px){
	body.lock{
		overflow: hidden;
	}
	.header__body {
		height: 50px;
	}
	.header__logo {
		flex: 0 0 40px;
	}
	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 3;
	}
	.header__burger span{
		position: absolute;
		background-color: #fff;
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before,
	.header__burger:after{
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before{
		top: 0;
	}
	.header__burger:after{
		bottom: 0;
	}

	.header__burger.active span{
		transform: scale(0);
	}

	.header__burger.active:before{
		transform:rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after{
		transform:rotate(-45deg);
		bottom: 9px;
	}

	.header__menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		transition: all 0.3s ease 0s;
		background-color: rgba(150, 150, 150, 0.978);
		padding: 100px 10px 20px 40px;
	}

	.header__menu.active{
		top: 0;


	}

	.header__list {
		display: block;

	}
	.header__list li{
		margin: 0px 0px 20px 50px;

	}
	.header__link {
		font-size: 20px;

	}
}



/*                               -                               */
              /*CONTENT/                  
/*                              -                                */


/* =====================ДОМАШКА 7 GO ! =============================== */
.main__container {
   max-width: 810px;
   width: 100%;
   margin: 0px auto;
   padding: 0px 10px;
}

.title__h1 {
   font-weight: 900;
   font-size: 46px;
   line-height: 130%;
   margin-bottom: 25px;
}
.img__block img{
   max-width: 100%;
   border-radius: 4px;
}
.img__block {
   margin-bottom: 60px;
}
.text__bold {
   font-weight: 700;
   font-size: 20px;
   line-height: 150%;
   margin-bottom: 25px;
}
.text__normal {
   font-weight: 400;
   font-size: 16px;
   line-height: 160%;
   margin-bottom: 48px;
}
.text__normal p{
   padding-bottom: 25px;
}
.text__normal p:last-child{
   padding-bottom: 0;
}
.text__quotes {
   font-weight: 700;
   font-size: 20px;
   line-height: 150%;
   margin-bottom: 48px;
   background: url("../img/braces.svg") 0 0 no-repeat;
}
.text__quotes p{
   padding-left: 58px;
}
.text__ul li{
   padding-bottom: 4px;
}
.text__ul {
   margin-bottom: 24px;
}

.text__ul li::before{
   background: url("../img/check.svg") 0 0 no-repeat;
   content: "";
   padding-left: 32px;
}
.text__normal-last {
   font-weight: 400;
   font-size: 16px;
   line-height: 160%;
   margin-bottom: 60px;
}


/* =======================ДОМАШКА  END . ============================== */


/* =====================ДОМАШКА 8 GO ! =============================== */

.main__container2 {
   max-width: 1230px;
   width: 100%;
   margin: 0px auto;
   padding: 0px 10px;
}

.background__img1 {
   background: url("../img/curator-image.jpg")  100%  no-repeat;
}
.section__one {
   max-width: 600px;
}
.section__h1 {
   font-weight: 900;
   font-size: 46px;
   line-height: 130%;
   margin-bottom: 40px;
}
.section__h1 p{
   margin-bottom: 16px;
}
.section__text {
   color: #424551;
   font-weight: 400;
   font-size: 16px;
   line-height: 160%;
   margin-bottom: 48px;
}
.section__h2 {
   font-weight: 700;
   font-size: 28px;
   line-height: 150%;
   margin-bottom: 25px;
}
.section__li {
   margin-bottom: 185px;
}


.section__ul {
   color: #424551;
   font-weight: 400;
   font-size: 16px;
   line-height: 160%;
   margin-bottom: 4px;
}
.section__ul:last-child{
   margin-bottom: 0;
}
.section__ul li::before{
   background: url("../img/check.svg") 0 0 no-repeat;
   content: "";
   padding-left: 32px;
}
.section__h1-p {
   font-weight: 900;
   font-size: 46px;
   line-height: 130%;
   margin-bottom: 8px;
}

.background__img2 {
   background: url("../img/speaker-image.jpg")  0 0 no-repeat;
}
.section__two {
   max-width: 600px;
   margin-left: 630px;
}
.span__text {
   color: #1E212C;
   font-weight: 700;
   font-size: 16px;
   line-height: 150%;
   text-transform: uppercase;
   display: inline-block;
   margin-bottom: 8px;
}
.text__subtitle {
   color: #787A80;
   font-weight: 400;
   font-size: 20px;
   line-height: 150%;
   margin-bottom: 32px;
}
.section__rating {
   margin-bottom: 32px;
}
.rating__li {
   color: #424551;
   font-weight: 700;
   font-size: 16px;
   line-height: 160%;
}
.rating__li li:nth-child(1)::before{
   background: url("../img/Star.svg") 0 0 no-repeat;
   content: "";
   padding-left: 32px;
}
.rating__li li:nth-child(2)::before{
   background: url("../img/Play.svg") 0 0 no-repeat;
   content: "";
   padding-left: 32px;
}
.rating__li li:nth-child(3)::before{
   background: url("../img/Person.svg") 0 0 no-repeat;
   content: "";
   padding-left: 32px;
}

/* =======================ДОМАШКА  END . ============================== */

 .box-code {
   background: rgba(228,234,242,0.7);
   padding: 10px 20px;
   margin: 20px 0;
   line-height: 1;
   border-radius: 10px;
}

pre {
   display: block;
   margin-top: 0;
   margin-bottom: 1rem;
   overflow: auto;
   font-size: 0.875em;
}

/*                            */




/*                             */






 /*   HOVER   */

.link:hover {

   font-weight: 500;
   color:black;
   outline: 12px;
   box-shadow: 2px 2px 2px 2px;
   border-radius: 4px;
}




/* ----------------------------------------- */
              /*FOOTER/                           
/*                         -                  */

 .footer{
   padding: 10px;
   display: flex;
   flex-direction: row;
   height: 5%;
   /* background-color:rgba(65, 62, 62, 0.9); */
   justify-content: space-around;
   align-items: center;
   font-size: 16px;
   } 
@media (max-width:600px){
   .footer{
       justify-content: center;
       }
       .footer.container img {
         padding: 0 20px;
       }
      figure.item {
         display: none;
       }
   }
   @media (max-width: 320px){
       .footer{
           flex-direction: column;
           } 
   }

   .botton {
      font-size: 55%;
      display: flex;
      justify-content: flex-end;
   }

   mark {
      background-color: #fff;
   }

   .footer img {
      height: 30px;
   }

 /*   HOVER   */

    .footer .link:hover { 
      display: block;
      box-shadow: 2px 2px 2px 2px;
      border-radius: 4px;
    } 



/* Прикальна КНОПКА */
.main__container-botton{

   padding: 240px 0;
}
.main__container-botton .btn{
   margin: 0 auto;
}

.btn {
	position: relative;
	/*top: 0;*/
	/*left: 0;*/
	width: 250px;
	height: 50px;
	/*margin: 0;*/
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
   box-shadow: 0px 0px 50px 50px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	padding: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	color: black;
	font-weight: 400px;
	z-index: 1;
	transition: 0.5s;
	backdrop-filter: blur(15px);
}
.btn:hover a {
   color: white;
	letter-spacing: 3px;
   box-shadow: 0px 0px 50px 50px rgba(0, 0, 0, 0.3),0px 0px 50px 50px rgba(0, 0, 0, 0.3),0px 0px 50px 50px rgba(0, 0, 0, 0.3),0px 0px 50px 50px rgba(48, 48, 48, 0.3);
}
 .btn a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
	transform: skewX(45deg) translate(0);
	transition: 0.5s;
	filter: blur(0px);
}
 .btn:hover a::before {
	transform: skewX(45deg) translate(200px);
}
.btn::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	bottom: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
 .btn:hover::before /*lightup button*/ {
	bottom: 0;
	height: 100%;
	width: 100%;
	border-radius: 30px;
}

 .btn::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	top: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}


 .btn::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	top: -5px;
	width: 30px;
	height: 10px;
	background: #f00;
	border-radius: 10px;
	transition: 0.5s;
	transition-delay: 0.5;
}
.btn:hover::after /*lightup button*/ {
	top: 0;
	height: 100%;
	width: 100%;
	border-radius: 30px;
}
