
body{
   font-family: 'Lato', serif;
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
}
.header {
   display: block;
   max-width: 1230px;
   margin: 0 auto;
   /*text-align: center;*/
   align-items: center;
   font-style: bold;
   height: 52px;
   margin-top: 69px;
   margin-bottom: 93px;
}
.header__container {
   align-items: center;
   display: flex;
   justify-content: space-between;

}
.logo__container {
   padding: 15px;
}
.li__container {
   display: inline;
   padding-left: 45px;
   
}
.botton__container {
   align-items: center;

}
.botton__container.botton {
   width: 210px;
   color: #fafafa;
background-color: #F75E05;
padding: 15px 45px;
border-radius: 4px;
}
.link__botton:hover{
   color: black;
   transition: 0.3s;
}

.botton__login {
   margin-left: 36px;
   padding: 15px;
   align-items: center;
}
.img__login{
   padding-right: 8px;
}
.link:hover{
   color: #F75E05;
   transition: 0.3s;
}


/* ---------------------------- */

.main__container {
   max-width: 870px;
   display: block;
   align-items: end;
   margin: 0px auto;
   padding: 0px 10px;
   line-height: 25px;
}

 h1 {
   color: #1E212C;
   font-size: 46px;
   font-family: 'Lato';
   font-style: normal;
   font-weight: 900;
   line-height: 130%;
   display: flex;
   align-items: center;
   
 }


 .main__container.h1{
   margin-bottom: 92px;
   line-height: 60px;
 }

 .main__container.text {
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   margin-bottom: 24px;
   line-height: 30px;
 }

 .main__container.text__right {
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   margin-bottom: 24px;
   padding-left: 58px;
   background: url("../img/braces.png") 0 0 no-repeat;
 }

.img__main{
   display: inline-block;
   width: 28px;
   height: 20px;
}

 .textlight {
   color: #424551;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   margin-bottom: 48px;
 }
 .textlight2 {
   color: #424551;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   margin-bottom: 24px;
 }
 /*.div{
   margin-bottom: 35px;*/
 /*}*/
 .main__container .textright{
   display: block;
   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   margin-bottom: 24px;
   padding-left: 48px;
 }
 .main__container li {
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   padding-left: 30px;
   background: url("../img/check.png") 0 4px no-repeat;
   margin-bottom: 4px;
}
 .block{
   width: 100%;
   }
 
 .main__container div {
   font-family: 'Lato';
   font-weight: 400;
   font-size: 16px;
   font-style: normal;
 }
 .main__container  ul {
   margin-bottom: 24px;
 }
 .img {
   margin-bottom: 60px ;
 }
 .main__container .textlight{
   margin-bottom: 120px;
 }

 /* --------------------------------- */
 .main__container2 {
   background: url("../img/illustration.png") 200px 0 no-repeat;
   background-color: #F4F5F7;
   width: 100%;
   height: 454px;
   margin-bottom: 50px;
}
.main__container {

}


.main__container .forms{
display: inline-block;
margin-left: 50%;
margin-top: 100px;
width: 600px;

}

 .main__container.text__taitle {
   
   font-weight: 900;
   font-size: 32px;
   line-height: 41px;
   margin-bottom: 48px;
}

input{
   padding-left: 15px;
   font-family: monospace;
}

.input__checkbox {
   /*display: inline-block;*/
   width: 15px;
   height: 15px;
   margin-right: 15px;
   padding-top: 8px;


}
.botton2{
width: 154px;
height: 52px;
color: #fafafa;
background-color: #F75E05;
padding: 16px 40px;
border-radius: 4px;
}

.link__botton2:hover{
   color: black;
   transition: 0.3s;
}



.main__container.text__mail {
   outline: 10px;
}

.input__text{
   width: 400px;
   height: 52px;
   padding-right: 24px;
   margin-bottom: 24px;
}
.main__container .text__agree {
   height: 26px;
   align-items: center;
}










/* 
.about-us {
	background-color: #77608d;
}
.about-us__container {
	background-color: #794f45;


}
.advantages {
	background-color: #7A956B;
}
.advantages__container {
	background-color: #794f45;
}
*/
/* Селектор атрибуту. Умова (*) */
/*
[class*="__container"]{
	max-width: 1230px;
	margin: 0 auto;
}
 */


.block {}
.block__container {
	/* max-width: 500px; */
	/* margin: 0 auto; */
}

/* Властивість background
Ця універсальна CSS властивість дозволяє одночасно задати кілька параметрів фону,
а саме визначити колір,  встановити фонове зображення, задати початкове положення фонового зображення,
визначити як повторюватиметься фонове зображення, встановити чи прокручуватиметься фонове зображення разом із вмістом 
і масштабувати фонове зображення відповідно до заданих розмірів.
Також значенням властивості background може бути вказана градієнтна заливка фону.
*/

.block__background {
	padding: 15px;
	/* height: 1000px;  */

	/* Окремі властивості */

	/* Визначає колір фону елемента */
	/* background-color: green; */

	/* 
	Встановлює фонове зображення елемента 
	або задає градієнтну заливку 
	!! Зображення НЕ встановлює розміри об'єкту
	*/
	/* background-image: url("../img/rockstar.jpg"); */
	/* background-image: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%); */

	/* Визначає, як повторюватиметься фонове зображення */
	/* (за замовченням) */
	/* background-repeat: repeat;  */
	/* Не повторяти */
	/* background-repeat: no-repeat; */
	/* Повтор по горизонталі */
	/* background-repeat: repeat-x; */
	/* Повтор по вертикалі */
	/* background-repeat: repeat-y; */

	/*
	Задає початкове положення фонового зображення,
	де перше значення (відсотки, px, слово) 
	визначає розташування по горизонталі,
	друге – вертикалі.

	0 0 (або left top) - за замовченням 
	center
	top
	left 
	bottom
	right
	*/
	/* background-position: 0 0;  */


	/* 
	Встановлює, чи прокручуватиметься 
	фонове зображення разом із вмістом елемента.

	scroll - (за замовченням) скролиться разом з блоком
	fixed - фонове зображення НЕ скролиться разом з блоком
	*/
	/* background-attachment: scroll;  */

	/*
	Масштабує фонове зображення згідно з заданими розмірами. 
	У цифрах, де перше значення (відсотки, px) визначає ширину,
	друге – висоту. Або спеціальним значенням.

	contain - Масштабує зображення зі збереженням пропорцій таким чином, щоб картинка повністю помістилася всередину блоку. Тобто щонайменше картинки
	cover - Масштабує зображення зі збереженням пропорцій так, щоб його ширина або висота дорівнювала ширині або висоті блоку. Тобто з більшого боку картинки

	*/
	/* background-size: auto 100px; */
	/* background-size: contain; */

	/* Універсальна властивість - background */
	/* background: green url("../img/rockstar.jpg") 0 0 / cover no-repeat;  */

	/* Встановлення кількох фонових зображень для блоку */
	/* background: url("../img/rockstar.jpg") no-repeat 0 0 / 200px, linear-gradient(55.95deg, rgba(255, 64, 58, 0.3) 0%, rgba(247, 94, 5, 0.3) 100%), url("../img/home/01.png") no-repeat right top / 800px; */
}




