

/*                      Кирилица     CircularStd                         */
@font-face {
   font-family: 'Circular Std';
   src: url('CircularStd-Bold.woff2') format('woff2'),
       url('CircularStd-Bold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Circular Std';
   src: url('CircularStd-Black.woff2') format('woff2'),
       url('CircularStd-Black.woff') format('woff');
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Circular Std';
   src: url('CircularStd-Medium.woff2') format('woff2'),
       url('CircularStd-Medium.woff') format('woff');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Circular Std Book';
   src: url('CircularStd-Book.woff2') format('woff2'),
       url('CircularStd-Book.woff') format('woff');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}
/*                                Latin      CircularStd                               */
@font-face {
   font-family: 'Circular Std';
   src: url('CircularStdLatin-Bold.woff2') format('woff2'),
       url('CircularStdLatin-Bold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Circular Std';
   src: url('CircularStdLatin-Black.woff2') format('woff2'),
       url('CircularStdLatin-Black.woff') format('woff');
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Circular Std';
   src: url('CircularStdLatin-Medium.woff2') format('woff2'),
       url('CircularStdLatin-Medium.woff') format('woff');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}




/*                      Кирилица     Lato                         */
@font-face {
   font-family: 'Lato';
   src: url('Lato-Bold.woff2') format('woff2'),
       url('Lato-Bold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Lato';
   src: url('Lato-Black.woff2') format('woff2'),
       url('Lato-Black.woff') format('woff');
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Lato';
   src: url('Lato-Regular.woff2') format('woff2'),
       url('Lato-Regular.woff') format('woff');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}


/*                                Latin      Lato                               */
@font-face {
   font-family: 'Lato';
   src: url('LatoLatin-Bold.woff2') format('woff2'),
       url('LatoLatin-Bold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Lato';
   src: url('LatoLatin-Black.woff2') format('woff2'),
       url('LatoLatin-Black.woff') format('woff');
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Lato';
   src: url('LatoLatin-Regular.woff2') format('woff2'),
       url('LatoLatin-Regular.woff') format('woff');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}


