
		body {
      font-size: 16px;
		color: rgb(49, 43, 43);
      line-height: 1.6;
      font-family: "Circular Std", sans-serif;

		}

		html {
			background-color: rgb(206, 201, 201);
         justify-content: center;
		}
   .img-logo {
   border-radius: 50%;
   }
	.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
   }
   b {
      padding: 5px;
   }
   b:hover {
      text-decoration: underline;
    }
      .container {
         max-width: 1140px;
         width: 100%;
         padding-right: 15px;
         padding-left: 15px;
         margin-right: auto;
         margin-left: auto;
         display: flex;
         height: inherit; 
         justify-content: center;
         justify-content: space-between;
         align-items: center;  
          position: relative; 
          z-index: 2; 
          
      }
     header {
      font-family: 'Lato'; 
       /* position: absolute; */
      max-width: inherit;
       width: 100%; 
      margin-top: 20px;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 15px;
      z-index: 1;
      margin-bottom: 35px;
   }

     .mnu_top {
      padding-left: 20%;
      display: flex;
      list-style-type: none;
  }
      ul {
      display: flex;
      list-style: none;
      justify-content: space-between;
      margin: 0;
      padding: 0px;
   }
   li {
      display: inline-block;
      margin-right: 70px;
  }
  

 ul a {
   padding:0 10px;
    text-decoration: none;
    transition: all 0.2s ease;
    font-size: 14px;
    color:rgb(59, 59, 59);
    text-transform: uppercase;
    display: block;
    font-weight: 400;
    
 }
 li a:hover {
   color:black;
   text-decoration: underline;
 }

 .intro {
   
   padding:0 20px;
   display: flex;
   justify-content: space-between;
 }

 h1 {
   font-size: 40px;
   font-weight: 900;
 }

 h2 {
   padding: 20px 0;
   font-size: 30px;
   font-weight: 600;
 }

 .box-code {
   background: rgba(228,234,242,0.7);
   padding: 10px 20px;
   margin: 20px 0;
   line-height: 1;
   border-radius: 10px;
}

pre {
   display: block;
   margin-top: 0;
   margin-bottom: 1rem;
   overflow: auto;
   font-size: 0.875em;
}

a:hover {
   color:black;
   text-decoration: underline;
 }

  figure:hover {
    will-change: transform; 
   transform: perspective(300px) rotateX(0deg) rotateY(0deg);
   box-shadow: 0 10px 20px -12px rgb(0 0 0 / 42%),
    0 3px 20px 0px rgb(0 0 0 / 12%),
    0 8px 10px -5px rgb(0 0 0 / 20%);
}
 /* figure .container-main {
   display: flex;
   height: 30px;
   width: 30px;
   position: relative;
   overflow: hidden;
   margin: 0;
   padding: 10px;
   transition: all 1s ease;
} */
.item {
   display: block;
   margin: 0 auto;
   width: 450px;
   height: 200px;
}
figure .img {
   width: 450px;
   height: 200px; 
}



/* -------------------------------------------- */




.text {
   font-family: 'Circular Std';
   font-weight: bold;
   padding: 30px 20px;
}
 .container-main {
   max-width: 1140px;
   width: 100%;
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
   /* display: flex; */
   height: inherit; 
   justify-content: center;
   justify-content: space-between;
   align-items: center;  
    position: relative; 
    z-index: 2; 
}
.img {
   display: flex;
   justify-content: center;

   
}
p {
   margin: 10px 10px 20px 10px;
   text-indent: 20px;
}
.b {
   padding-top: 30px;
   text-align:end;
   font-weight: 600;
   text-transform: uppercase;
}
.b a:hover {
   font-weight: 500;
   color:black;
   text-decoration: underline;
}





/* ----------------------------------------- */

 .footer{
   padding: 10px;
   display: flex;
   flex-direction: row;
   height: 5%;
   /* background-color:rgba(65, 62, 62, 0.9); */
   justify-content: space-around;
   align-items: center;
   font-size: 16px;
   } 
@media (max-width:600px){
   .footer{
       justify-content: center;
       }
   }
   @media (max-width: 320px){
       .footer{
           flex-direction: column;
           } 
   }

   .botton {
      display: flex;
      justify-content: flex-end;
   }
   .footer a:hover {
      display: block;
      box-shadow: 2px 0 2px 0;
   }
   mark {
      background-color: #fff;
   }

